<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-In Page</title>
  </head>
  <body>
    <h1>Login to Your Account</h1>
    <form method="post">
      {{form.hidden_tag()}}
      <br />
      {{form.email}}
      <br />
      {{form.password}}
      <br />
      {{form.login()}}
    </form>
    <p>Not a Member Yet? <a href="./signUpPage.html">Create an Account</a></p>
  </body>
</html>
