<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>flask_example</title>
  </head>
  <body>
    <h1>welcome to Flask exercise 1</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta distinctio
      maiores id incidunt aut qui tempora minima rem necessitatibus est?
    </p>
    <img
      src="https://randomwordgenerator.com/img/picture-generator/53e6dc424c53a914f1dc8460962e33791c3ad6e04e507749712e79d09144cd_640.jpg"
      alt="random picture of a a crop field"
    />
  </body>
</html>
