<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YellowPages/Delete</title>
  </head>
  <body>
    <section>
      <h2>Delete From Yellowpages</h2>
      <form method="post">
        {{form1.hidden_tag()}} {{form1.phoneNumber.label}}
        <br />
        {{form1.phoneNumber}}
        <br />
        {{form1.submit()}}
      </form>
  </body>
</html>
