<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HW03-Home</title>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <form method="post">
      {{form.hidden_tag()}}
      <br />
      {{form.name1.label}}
      <br />
      {{form.name1}}
      <br />
      {{form.grade1.label}}
      <br />
      {{form.grade1}}
      <br />
      {{form.submit()}}
    </form>
    <form method="post">
      {{form1.hidden_tag()}}
      <br />
      {{form1.displayAll()}}
    </form>
    <form method="post">
      {{form2.hidden_tag()}}
      <br />
      {{form2.displayPass()}}
    </form>
    <form method="post">
      {{form3.hidden_tag()}}
      <br />
      {{form3.studentID.label}}
      <br />
      {{form3.studentID}}
      <br />
      {{form3.delete()}}
    </form>
  </body>
</html>
